$green: #3BC8AA;
$orange: #FF551A;
$black : #1E1E1E;

$titleFont: "PT Serif";
$bodyFont: "Work Sans";

body {
  color: $black;
}

h2 {
  color: $green;

}


div {
  background-color: #fffbbb;
  padding: 20px;
  border: solid 1px white;
}
